* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BARRA MENU */
.menu{
	background-color:   #FAF41A;
    box-shadow: 2px 2px 5px rgba(8, 8, 8, 0.767); /*Sombreado*/
    


}

.navbar-toggler{
    margin-right: 25%;
}
.menu a {
	color: black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-decoration: none;
    font-family: 'Anton';
    font-size:medium;
 
    
}
 #imgTXT{
    background-color: #c1c1c1;
    text-align: center;
  width: 100%;
 /* height: 100%; */
}

#imgInfo{
    height: 350px;
    width: 350px;
    margin-top: 5%;
    margin-bottom: 5%;

}

#txtInfo{
    background-color: white;
    margin: 2%;
    font-family: 'Noto Serif' , serif;
  font-size:11px;
overflow: hidden;

}
#formuRegistro{
    background-color: #c1c1c1;
    border: #232323;
    /* width: 500px;
    height: 550px; */
    font-size:xx-large;
   height:800px;
}


#BTNregistro{
    display: flex;
    justify-content: center;
}
#BTN-BTNregistro{
    width: 200px;
    height: 70px;
}
.menu a:hover { /*Al pasar el raton por encima del menu cambia de color*/
    color:lightsalmon;
    transition: all .3s;
}

/* */ 

.h1Inicio {
	color: rgba(200, 119, 119, 1);
}
#body{
    background-color:#c21ce2 ;


}
#logo{
    width: 50px;
    height: 50px;
}
#carrito{
    width: 50px;
    height: 50px;
}

#imgCarruselInicio{
    width:500px;
    height: 800px;
}
#imgCarruselDonaciones{
    width:300px;
    height: 500px;
}
#socialMedia{
    width: 50px;
    height: 50px;
   margin-top: 5%;
 
}
.prueba{
    display: flex;
    justify-content: center;
}
.tablaP {
	color:rgba(200, 119, 119, 1);
	font-size: 20px;
}

.tablaP:hover { /*Al pasar el raton por encima del menu cambia de color*/
    color: rgba(72, 32, 32, 1);
    transition: all .3s;
}


/* FOOTER */
.pie {
	background-color: #232323;
	color: white;
	box-shadow: 2px 2px 5px rgba(8, 8, 8, 0.767); 	

 

}
#demo{
    height: 100%;
}
#demo2{
    height: 50%;
}
footer{
    /* background-position: center bottom; */

/* height: max-content; */

}
body{
  /* position: relative; */
  /* min-height: 100vh; */

}
span{
    /* display:none ; */
}

.borde {
    border: 2px solid rgba(58, 56, 56, 0.918);
}

#perfilForm{

    background-color: #c1c1c1;
    border: black 2px solid;
    font-size:x-large;
    height: 800px;
}
label, input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .box img {
    width: 200px;
    height: 200px;
    margin-top: 5px;
    border-radius: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }

 #donaciones {
    display: flex;
    flex-direction: column;
    background-color: #FAF41A;
    border: #232323 2px solid;
 } 

 #donaciones >div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
 
 }
#precioDI{
    width: 100%;
}
 #modal::backdrop{
    background-color: rgba(0,0,0,.55);
 }
 #modal{
    max-width: 50ch;

 }
 #formModal label{
    border: 1px solid;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: white;
}
#formModal{
    background-color: #c1c1c1;
  
}
#btn-cerrar-modal{
margin-left: 35%;
}
#BTN-BTNContinuar{
    background-color: red;
    color: white;
    margin-left: 35%;
    font-size: xx-large;
}
#titulo_causa{
    margin-left: 35%;
    font-size: x-large;
}
#divCausa{
    /* height: 210px; */
}
#titleD{
    margin-left: 35%;  
    font-size: xx-large;
}
.blog{
    height: 260px;
   display: flex;
   flex-direction: column;
   text-align: center;
    background-color: aqua;
    border: 2px solid black;
    overflow: hidden;
  width: 100%;
}

.imagenesEve{
    width: 80px;
    height: 80px;
    margin-left: 45%;
}
.blog2{
    height: 800px;
   display: flex;
   flex-direction: column;
   text-align: center;
    background-color: aqua;
    border: 2px solid black;
    overflow: visible;
  width: 100%;
}
#tabla_tienda{
    border: 2px solid black;
    text-align: center;
}
#tabla_tienda tr{
    border: 2px solid black;
}
@media only screen and (min-width:920px) and (max-width: 1920px){
    #txtInfo{
        background-color: white;
        margin: 2%;
        font-family: 'Noto Serif' , serif;
      font-size:18px;
    
    
    }
    #imgInfo{
        height: 300px;
        width: 450px;
        margin-top: 5%;
        margin-bottom: 5%;
    
    }
    #socialMedia{
        width: 100px;
        height: 100px;
       margin-top: 1%;
      
    }
    #imgCarruselInicio{
        width:500px;
        height: 800px;
    }
    #imgCarruselDonaciones{
        width:300px;
        height: 600px;
    }
    #demo2{
        height: 60%;
    }
    #donaciones {
        display: flex;
        flex-direction:row;
        background-color: #FAF41A;
        border: #232323 2px solid;
     } 
     #modal{
     margin-left: 35%;
     margin-top: 1%;
     }
     #perfilForm{

        background-color: #c1c1c1;
        border: black 2px solid;
        font-size:xx-large;
        height: 800px;
    }
    .box img {
        width: 300px;
        height: 250px;
        margin-top: 5px;
        border-radius: 150px;
        -o-object-fit: cover;
           object-fit: cover;
      }
    
      .menu a {
        color: black;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        text-decoration: none;
        font-family: 'Anton';
        font-size:xx-large;
     
        
    }
  
  }
  @media only screen and (min-width:100px) and (max-width: 919px)  {
  
  }
  @media only screen and (min-width: 401px) and (max-width: 500px) {

  }