@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenedor_carga {
  position: relative;
  margin-left: 50%;
}
#contenedor_carga #carga {
  width: 100px;
  height: 100px;
  border: solid 5px #064555;
  border-top: solid 5px #7cd6ec;
  border-radius: 50%;
  animation: loader 0.8s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu {
  background-color: rgb(201, 93, 183);
  box-shadow: 2px 2px 5px rgba(8, 8, 8, 0.767); /*Sombreado*/
}
.menu a {
  color: black;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  text-decoration: none;
  font-family: "Barlow", bold;
  font-size: xx-large;
}
.menu a:hover {
  color: lightsalmon;
  transition: all 0.3s;
}

.navbar-toggler {
  margin-right: 25%;
}

#politica_privi {
  color: white;
  text-align: justify;
}
#politica_privi h2, #politica_privi h1 {
  text-align: center;
}

#imgTXT {
  background-color: #F0F0ED;
  text-align: center;
  width: 100%;
  /* height: 100%; */
}

#imgInfo {
  height: 500px;
  width: 400px;
  margin-top: 5%;
  margin-bottom: 5%;
}

#textoFooter {
  text-align: center;
}

#txtInfo {
  background-color: white;
  margin: 2%;
  font-family: "Barlow", sans-serif;
  font-size: xx-large;
  overflow: hidden;
  text-align: left;
  padding: 2%;
}

#D {
  font-family: "Barlow", sans-serif;
  height: 98%;
}

#formuRegistro {
  background-color: white;
  border: #232323;
  border-radius: 1%;
  /* width: 500px;
  height: 550px; */
  font-size: xx-large;
  height: 800px;
  color: rgb(201, 93, 183);
}
#formuRegistro input {
  border: 2px solid black;
}

#insertarForm {
  color: white;
}

#eliminarForm {
  color: white;
}

#BTNregistro {
  display: flex;
  justify-content: center;
}

#BTN-BTNregistro {
  width: 200px;
  height: 70px;
  background-color: rgb(125, 20, 107);
  color: WHITE;
}

#BTN-BTNregistro2 {
  width: 200px;
  height: 70px;
  background-color: rgb(201, 93, 183);
  color: WHITE;
}

.h1Inicio {
  color: rgb(200, 119, 119);
}

#body {
  background-color: rgb(125, 20, 107);
}

#logo {
  width: 50px;
  height: 50px;
}

#carrito {
  width: 50px;
  height: 50px;
}

#imgCarruselInicio {
  height: 800px;
}

#imgCarruselDonaciones {
  width: 500px;
  height: 600px;
}

#socialMedia {
  width: 45px;
  height: 45px;
  margin-top: 5%;
}

.prueba {
  display: flex;
  justify-content: center;
}

.tablaP {
  color: rgb(200, 119, 119);
  font-size: 20px;
}
.tablaP:hover {
  color: rgb(72, 32, 32);
  transition: all 0.3s;
}

.pie {
  background-color: #232323;
  color: white;
  box-shadow: 2px 2px 5px rgba(8, 8, 8, 0.767);
  font-size: xx-large;
}

#demo {
  height: 55%;
  width: 80%;
  margin-left: 13%;
}

#demo2 {
  width: 50%;
  margin-left: 23%;
}

.borde {
  border: 2px solid rgba(58, 56, 56, 0.918);
}

#perfilForm {
  background-color: white;
  border: black 2px solid;
  font-size: x-large;
  height: 800px;
  font-family: "Barlow", sans-serif;
  color: rgb(125, 20, 107);
  border-radius: 2%;
}
#perfilForm input {
  background-color: rgb(125, 20, 107);
  color: white;
}

label, input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.box img {
  width: 200px;
  height: 200px;
  margin-top: 5px;
  border-radius: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}

#donaciones {
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 93, 183);
  border: #232323 2px solid;
}
#donaciones div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

#precioDI {
  width: 100%;
}

#botonCookies {
  margin-left: 41%;
  background-color: white;
  color: black;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

#modal {
  max-width: 50ch;
}

#formModal label {
  border: 1px solid;
  padding: 5px;
  width: 100%;
  text-align: center;
  background-color: white;
}

#formModal {
  background-color: #c1c1c1;
}

#btnPSW {
  margin-left: 4%;
}

#ojo {
  width: 50px;
  height: 50px;
}

#ojo2 {
  width: 50px;
  height: 50px;
}

#btn-cerrar-modal {
  margin-left: 35%;
}

#suscribirse {
  margin-top: 5%;
  height: 94%;
  font-size: xx-large;
}
#suscribirse p {
  color: black;
  text-align: center;
}
#suscribirse form {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  height: 60%;
}

#btn-suscribirse {
  background-color: red;
  color: white;
  margin-left: 5%;
  font-size: xx-large;
}

#BTN-BTNContinuar {
  background-color: red;
  color: white;
  margin-left: 35%;
  font-size: xx-large;
}

#titleD {
  margin-left: 35%;
  font-size: xx-large;
}

#titulo_causa {
  margin-left: 35%;
  font-size: x-large;
  color: white;
}

.blog {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightsalmon;
  border: 2px solid black;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
  justify-content: center;
  margin-left: 20%;
}
.blog img {
  margin-left: 20%;
  width: 50%;
}
.blog p {
  width: 930px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blog2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightsalmon;
  border: 2px solid black;
  overflow: visible;
  width: 100%;
}

tbody {
  background-color: #F0F0ED;
}

.tabla_tienda {
  display: flex;
  color: black;
}
.tabla_tienda tr {
  border: 1px solid black;
  text-align: center;
}
.tabla_tienda th img {
  margin-left: 60%;
  width: 55%;
  height: 250px;
}
.tabla_tienda th .tituloProductoTienda {
  margin-left: 50%;
}

#formularioCT {
  height: 180%;
}

#botonesAdminEventos {
  display: flex;
  justify-content: center;
}

#borrar {
  height: 94%;
  font-family: "Barlow", sans-serif;
  overflow: scroll;
}

#botonesAdminTienda {
  display: flex;
  justify-content: center;
}

#categorias {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  background-color: lightsalmon;
  font-family: "Barlow", bold;
  width: 80%;
  margin-left: 12%;
}
#categorias a {
  padding: 10px;
  color: black;
  font-size: larger;
}

#formModal {
  font-size: xx-large;
}

.Añadir {
  background-color: red;
  color: white;
}

table {
  display: flex;
  justify-content: center;
}
table input {
  text-align: center;
}

#carritoFORM {
  text-align: center;
  height: 1000px;
  width: 50%;
  margin-left: 25%;
  overflow: auto;
  font-size: xx-large;
}
#carritoFORM * {
  border: 1px solid black;
}
#carritoFORM div {
  background-color: #F0F0ED;
}
#carritoFORM div * {
  background-color: white;
}
#carritoFORM input {
  text-align: center;
}

#CTOTAL {
  color: black;
  background-color: #F0F0ED;
}

#formularios {
  display: flex;
  height: 800px;
  font-family: "Barlow", sans-serif;
}

.itemcarrito {
  background-color: lightsalmon;
}

#formulariosT {
  overflow: auto;
}

.tabla_tienda {
  font-size: xx-large;
}

.tiendaForm textarea {
  white-space: pre-wrap;
  width: 60%;
}

#bCarrito1 {
  background-color: red;
}

#formurecuperarContrasenya {
  height: 97%;
  font-size: xx-large;
}
#formurecuperarContrasenya p {
  color: white;
}
#formurecuperarContrasenya #BTN-BTNuevaContrasenya {
  background-color: red;
  color: white;
}

@media (min-width: 820px) and (max-width: 2400px) {
  #cbox1 {
    margin-left: 37%;
  }
  #formurecuperarContrasenya {
    height: 97%;
    font-size: xx-large;
  }
  #formurecuperarContrasenya p {
    color: white;
  }
  #formurecuperarContrasenya #BTN-BTNuevaContrasenya {
    background-color: red;
    color: white;
  }
  .tiendaForm th img {
    margin-left: 60%;
    width: 250px;
    height: 250px;
  }
  .tiendaForm th .tituloProductoTienda {
    margin-left: 50%;
  }
  .tiendaForm th textarea {
    white-space: pre-wrap;
  }
  #txtInfo {
    background-color: white;
    margin: 2%;
    font-family: "Noto Serif", serif;
    font-size: xx-large;
    width: 70%;
    margin-left: 15%;
  }
  #imgInfo {
    height: 580px;
    width: 900px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #socialMedia {
    width: 50px;
    height: 50px;
    margin-top: 1%;
  }
  #demo2 {
    /* height: 70%; */
  }
  #donaciones {
    display: flex;
    flex-direction: row;
    background-color: rgb(201, 93, 183);
    border: #232323 2px solid;
    justify-content: center;
  }
  #modal {
    margin-left: 35%;
    margin-top: 1%;
  }
  #D {
    height: 166%;
  }
  #perfilForm {
    background-color: white;
    border: black 2px solid;
    font-size: xx-large;
    height: 800px;
    color: rgb(125, 20, 107);
    border-radius: 2%;
  }
  #perfilForm input {
    background-color: rgb(125, 20, 107);
    color: white;
  }
  .box img {
    width: 300px;
    height: 250px;
    margin-top: 5px;
    border-radius: 150px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .menu a {
    color: black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-decoration: none;
    font-family: "Barlow", bold;
    font-size: xx-large;
  }
  .itemcarrito {
    background-color: lightsalmon;
  }
  #categorias {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    background-color: lightsalmon;
    margin-left: 15%;
    font-size: xx-large;
  }
  #carritoFORM {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    overflow: auto;
  }
  .blog {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightsalmon;
    border: 2px solid black;
    overflow: hidden;
    width: 50%;
    justify-content: center;
    margin-left: 27%;
    font-size: xx-large;
  }
  .blog img {
    height: 400px;
    width: 50%;
    margin-left: 25%;
  }
  .blog p {
    width: 930px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .blog2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightsalmon;
    border: 2px solid black;
    overflow: visible;
    width: 100%;
    font-size: xx-large;
  }
  .blog2 img {
    height: 20%;
    width: 20%;
    margin-left: 40%;
  }
}/*# sourceMappingURL=estilo.css.map */